{% extends 'layout.html' %}
{% block head %}
<title>All questions</title>
{% endblock %}


{%  block body%}
<div class="container mt-5">
    <table class="table">
        <thead class="thead-dark">
            {% for header in tabel_header_questions %}<th> {{ header }} </th>{% endfor %}
        </thead>

        {% for question in questions_list %}
        <tr>
            <td> {{ question['id'] }}</td>
            <td> {{ question['submission_time'] }}</td>
            <td> {{ question['view_number'] }}</td>
            <td> {{ question['vote_number'] }}</td>
            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
            <td> {{ question['message'] }}</td>
            <td> <img src="{{ question['image'] }}" height="80"></td>
        </tr>
        {% endfor %}
    </table>

    <button><a href="/add_new_question">Add new question</a></button>
</div>
{% endblock %}