{% extends 'layout.html' %}

{% block head %}
<title>Question Information</title>
{% endblock %}

{% block body %}
<div class="container">
     <table class="table">
          <tr>
               <th>Title</th>

               <th>Mesage</th>

               <th>Image</th>
          </tr>

          <th>{{ question['title'] }}</th>

          <th>{{ question['message'] }}</th>

          <th><img src="{{ question['image'] }}" height="100"></th><br><br><br>

     </table>

     <p>{{ question['view_number'] }}</p>

     <button type="button"><a href="/question/{{question['id']}}/edit"> Edit question</a></button>
     <button type="button"><a href="/question/{{question['id']}}/delete"> Delete question</a></button>
     <button type="button"><a href="/">Go to main page</a></button>

     <div>
          <h3>Answers</h3>
     </div>
     <button type="button"><a href="/question/{{question['id']}}/edit"> Add answer</a></button>
</div>

</html>

{% endblock %}