body {
    /*background: #95a5a6;*/
    background: rgb(164,164,175);
    background: linear-gradient(90deg, rgba(164,164,175,1) 27%, rgba(159,159,170,0.7231267507002801) 51%, rgba(127,212,230,1) 100%);
}
#tag {
    width: 80px !important;
    display:inline-block !important;
}

.card-deck .card {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    background-color: rgba(255,250,241,0.69);
}

.p-3 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.navbar {
    background-color: rgba(0,0,0,0.42) !important;
    border-radius: 5px;
}

.jumbotron {
    background-color: rgba(253,244,255,0.37) !important;
}

#comments-jumbotron {
    height: 50%;
    margin-bottom: 0 !important;
    overflow-y: scroll;
    max-height: 738px;
}

.custom-image{
    width: 200px !important;
    margin-left: 300px !important;
}

#x-icon {
    color: red;
}

.zoomCheck input[type=checkbox] {
  display: none !important;
}

.container img {
  transition: transform 0.25s ease !important;
  cursor: zoom-in !important;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(4) !important;
  cursor: zoom-out !important;
}

#answer-likes {
    margin-left: 880px;
    margin-top: -70px;
    margin-bottom: 0;
}

.answer-container {
    background-color: rgba(253,244,255,0.46);
    border: 1px solid #444444 !important;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.comment-div {
    margin-right: 50px;
}

#question-body {
    overflow-y: auto;
    height: 320px;
}

#scrollable-container{
    overflow-y: auto;
    max-height: 580px;
}

#comment-container {
    overflow-y: scroll;
    max-height: 200px;
}

#table-container {
    overflow-y: scroll;
    height: 600px;
}

.element::-webkit-scrollbar { width: 0 !important }

mark {
    background-color: yellow !important;
}

th {
    text-align: center !important;
}

#home-button {
  border: none;
  transition: 0.3s;
}

#home-button:hover {
  background-color: rgba(37,255,41,0.2);
  color: white;
    border-radius: 10px;
}

.navbar-brand{
    text-decoration: underline;
}

#navbar {
    padding-left: 400px !important;
    padding-right: 400px !important;
    width: 100% !important;
    z-index: 2;
}

#question-image {
    width: 100%;
    height: 200px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.item {
    padding: 10px;
    height: 100%;
}

.table-images {
    max-height: 150px !important;
}

#question-grid {
    background-color: rgba(253,244,255,0.46);
}
