{% extends 'layout.html' %}

{% block head %}
<title>Add answer</title>
{% endblock %}

{% block body %}
<div class="container jumbotron mt-5">
  <div class="ml-3 mt-3 d-flex justify-content-center">
    <h2>Add new answer</h2>
  </div>
    {% for answer in answers %}
  <form action="/question/{{ question_id }}/answer/{{ answer.id }}/new-comment" , method="POST">
      {% endfor %}
    <div class="container">
      <div>
        <label for="message">Comment:</label><br>
        <textarea type="text" name="message" class="form-control" required></textarea><br><br>
      </div>
      <hr>
      <div class="mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary">Add comment</button>
      </div>
    </div>
  </form>
</div>



{% endblock %}