{% extends 'layout.html' %}

{% block head %}
<title>List page</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    {% if not searching %}
    <a href="/list">See all questions</a>
    {% else %}
    <a href="/">Back to latest questions</a>
    {% endif %}
    <div class="mt-4">
        <form action="/list" method="POST">
            <label for="sort">Sort by:</label><br>
            <select id="sort" name="sort" class="form-control form-control-sm">
                <option value="id">Id</option>
                <option {% if sort_by == 'submission_time' %}selected{% endif %} value="submission_time">Submission Time</option>
                <option {% if sort_by == 'view_number' %}selected{% endif %} value="view_number">View Number</option>
                <option {% if sort_by == 'vote_number' %}selected{% endif %} value="vote_number">Vote Number</option>
                <option {% if sort_by == 'message' %}selected{% endif %} value="message">Message</option>
                <option {% if sort_by == 'title' %}selected{% endif %} value="title">Title</option>
            </select>
            <label for="direction">Direction:</label><br>
            <select name="direction" class="form-control form-control-sm">
                <option {% if direction == 'asc' %}selected{% endif %} value="asc">Ascending</option>
                <option {% if direction == 'desc' %}selected{% endif %} value="desc">Descending</option>
            </select>
            <button type="submit" class="mt-3 btn btn-outline-primary">Apply</button>
        </form>
        <a href="/add-question" class="mt-3 btn btn-outline-primary">Add question</a>
    </div>
    <div class="wrapper mt-5">
        {% for question in data %}
        <div class="card item" id="question-grid">
            <img src="{{ question.image }}" class="table-images">
            <div class="card-body element" id="question-body" style="max-height: 150px;">
                <p><a href="/question/{{ question.id }}">{{ question.title }}</a></p>
                <p>{{ question.message}}</p>
            </div>
            <hr>
            <div class="ml-1 row">
                <small>{{ question.submission_time }}</small><small class="ml-5">Votes: {{ question.vote_number }}</small><small class="ml-1">Views: {{ question.view_number }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
