<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List questions</title>
</head>
<body>
    <table>
        <tr>
            {% for header in headers %}
                <th>
                    {{ header }}
                </th>
            {% endfor %}
        </tr>
        {% for question in data %}
        <tr>
            {% for key, value in question.items() %}
            <td>
                {% if key == 'title' %}
                <a href="question/{{ question['id'] }}">{{value}}</a>
                {% elif key == 'image' %}
                <img src="{{value}}" alt="placehd">
                {%else%}
                {{value}}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>